In [1]:
95 > 55

True

In [2]:
85 < 75

False

In [3]:
65 == 75

False

In [4]:
55 < 65

True

In [5]:
# 코지 점수
korean = 78
math = 90
english = 85
computer = 73

In [6]:
korean > math

False

In [7]:
math > english

True

In [8]:
computer == english

False

In [9]:
# 코지 같은 반 애 하나 점수
korean2 = 60
math2 = 84
english2 = 92
computer2 = 62

In [11]:
# 코지와 코지 같은반 애 점수 비교
# 같은 과목 점수 비교

korean > korean2

True

In [12]:
math > math2

True

In [13]:
english > english2

False

In [14]:
computer > computer2

True

In [15]:
# 두 사람의 평균 비교

# 코지의 성적 평균 점수
coge = (korean + math + english + computer) / 4

# 코지 같은 반 애 성적 평균 점수
person = (korean2 + math2 + english2 + computer2) / 4

In [16]:
# 비교
coge > person

True

In [18]:
# 코지의 평균 점수가 더 높다
# 따라서 코지가 같은반 애 하나보다 시험을 더 잘 보았다.